body, html {
    font-family: "Raleway", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/fondo 3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2, h3, h4{
    color: #554339;
    margin: 0;
    text-align: center;
}
p{
    margin: 0;
    color: #7f624f;
}

.text-center{
    text-align: center;
}

.card-container {
    position: relative;
    width: 300px;
    height: 450px;
}

.centered-div {
    width: 300px;
    height: 450px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 32px 0 #bfab93;
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden; /* Evita que el contenido se desborde */
    /* Puedes usar overflow: auto; si quieres que aparezcan barras de desplazamiento cuando el contenido se desborde */
    padding: 10px 20px; /* Añade un poco de espacio interno */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}
